name: Test
on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

# Cancel older runs of the same workflow on the same branch
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest # Have to use Linux since the "decrypt" step uses a container, which is only supported on Linux
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5

      - name: Decrypt input
        uses: sliteteam/github-action-git-crypt-unlock@1.3.0
        env:
          GIT_CRYPT_KEY: ${{ secrets.GIT_CRYPT_KEY }}

      - name: Setup Cache
        uses: coursier/cache-action@v7

      - name: Setup
        uses: coursier/setup-action@v1
        with:
          jvm: corretto:21.0.9.10.1
          apps: sbt

      - name: Run Test Suite
        run: sbt test
